.game-modal {
    display: none;
    background: white;
    width: 70vh;
    border-radius: 10px;
    margin: 10px;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.game-header {
    display: flex;
}

.num-question {
    margin-left: 5px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: rgb(101, 171, 251);
}

.container input:checked ~ .checkmark {
  background-color: rgb(101, 171, 251);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}