.landing-modal {
    background: white;
    height: 50vh;
    width: 70vh;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.fa-paper-plane {
    font-size: 200px;
    color: rgb(101, 171, 251);
    margin: 20px;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.startGame {
    background: none;
    font-size: 30px;
    padding: 5px;
    margin-top: 20px;
    width: 80%;
    border-radius: 5px;
    border: 2px solid rgb(101, 171, 251);
}

.startGame:hover {
    background: rgb(101, 171, 251);
    color: white;
}