.landing-modal,
.end-game-modal {
    background: white;
    height: 50vh;
    width: 70vh;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.far.fa-paper-plane {
    font-size: 20px;
    margin: auto;
    margin-left: 5px;
}

.fa-paper-plane,
.fa-map-marked-alt {
    font-size: 13vw;
    color: rgb(101, 171, 251);
    margin: 20px;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    font-size: 3vw;
    height: 100%;
}

.landing-subtitle {
    margin-top: 5px;
    font-size: 1vw;
}

.startGame,
.restartGame {
    background: none;
    font-size: 2vw;
    padding: 5px;
    margin-top: 20px;
    width: 80%;
    border-radius: 5px;
    border: 2px solid rgb(101, 171, 251);
}

.startGame:hover,
.restartGame:hover {
    background: rgb(101, 171, 251);
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 1100px) {
    .fa-paper-plane,
    .fa-map-marked-alt {
        font-size: 18vw;
    }

    .right-section {
        font-size: 4vw;
    }

    .landing-subtitle {
        font-size: 2vw;
    }

    .startGame,
    .restartGame {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 900px) {
    .fa-paper-plane,
    .fa-map-marked-alt {
        font-size: 20vw;
    }

    .right-section {
        font-size: 5vw;
    }

    .landing-subtitle {
        font-size: 2vw;
    }

    .startGame,
    .restartGame {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 500px) {
    .fa-paper-plane,
    .fa-map-marked-alt {
        font-size: 25vw;
    }

    .right-section {
        font-size: 9vw;
    }

    .landing-subtitle {
        font-size: 4vw;
    }

    .startGame,
    .restartGame {
        font-size: 8vw;
    }
}

@media only screen and (max-width: 450px) {
    .fa-paper-plane,
    .fa-map-marked-alt {
        font-size: 25vw;
    }

    .right-section {
        margin-top: 0;
        font-size: 8vw;
    }

    .landing-subtitle {
        font-size: 4vw;
    }

    .startGame,
    .restartGame {
        font-size: 7vw;
    }

    .end-game-modal {
        flex-direction: column;
    }
}

@media only screen and (max-height: 750px) {
    .fa-paper-plane,
    .fa-map-marked-alt {
        font-size: 10vw;
    }

    .right-section {
        font-size: 2vw;
    }

    .landing-subtitle {
        font-size: 1vw;
    }

    .startGame,
    .restartGame {
        font-size: 1vw;
    }
}

@media only screen and (max-height: 750px) and (max-width: 550px){
    .fa-paper-plane,
    .fa-map-marked-alt {
        font-size: 20vw;
    }

    .right-section {
        font-size: 8vw;
    }

    .landing-subtitle {
        font-size: 4vw;
    }

    .startGame,
    .restartGame {
        font-size: 5vw;
    }
}